<!-- Hero Section -->
<section id="hero" class="hero d-none d-lg-block" style="margin-top: 4rem;">
    <div class="container retro-border">
        <div class="row d-inline-block d-lg-flex" id="hero-container">
            <div class="col text-start align-self-center pt-5 pt-lg-0">
                <h1>Innovation That Brings Ideas to Life.</h1>
                <p class="lead secondary-txt-color">Technology is more than numbers and formulas — it&#x2019;s about creativity, passion, and enjoying the journey.</p>
                <hr class="retro-line">
                <a href="#portfolio" class="btn btn-retro btn-lg mt-3">Portfolio</a>
            </div>
            <div class="col align-self-end mt-5 mt-lg-0" style="min-height: 30rem;">
                <div class="code-box mx-auto text-start">
                    <span id="typed-code" class="primary-txt-color"></span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hero Section start -->
<section id="hero" class="hero d-lg-none" style="margin-top: 4rem">
    <div class="container retro-border" style="min-height: 85vh;">
        <div class="row position-relative" id="hero-container" >
            <div class="col text-start align-self-center pt-5 pt-lg-0">
                <h1>Innovation That Brings Ideas to Life.</h1>
                <p class="lead secondary-txt-color">Technology is more than numbers and formulas — it&#x2019;s about creativity, passion, and enjoying the journey.</p>
                <hr class="retro-line">
                <a href="#portfolio" class="btn btn-retro btn-lg mt-3">Portfolio</a>
            </div>
            <div class="col-9 offset-3 position-absolute mt-5" style="min-height: 30rem;">
                <div class="code-box mx-auto text-start">
                    <span id="typed-code-mobile" class="primary-txt-color"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section end -->