<!-- 
  2025 Licensed Internal Code
     
  Script name: index.html
 
  Description: index.html is the basic html that all other templates inherit
               it include style sheets and script inclution
 
  Change History:
  Issue(opt)   Modifier            MM/DD/YYYY  Description
  ------       ------------------  ----------  ----------------------------------
  n/a          Julio Conchas       04/06/2025  Initial include of change history header.
-->
{% extends "base.html" %}
{% block content %}

    <!-- Hero Section -->
    <section id="hero" class="hero d-none d-lg-block" style="margin-top: 4rem;">
        <div class="container retro-border">
            <div class="row d-inline-block d-lg-flex" id="hero-container">
                <div class="col text-start align-self-center pt-5 pt-lg-0">
                    <h1>Have fun and make dreams come true!</h1>
                    <p class="lead secondary-txt-color">Technology and innovation is not all about number and math, It is also fun!</p>
                    <hr class="retro-line">
                    <a href="#portfolio" class="btn btn-retro btn-lg mt-3">Portfolio</a>
                </div>
                <div class="col align-self-end mt-5 mt-lg-0" style="min-height: 30rem;">
                    <div class="code-box mx-auto text-start">
                        <span id="typed-code" class="primary-txt-color"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    <!-- Hero Section start -->
    <section id="hero" class="hero d-lg-none" style="margin-top: 4rem">
        <div class="container retro-border" style="min-height: 85vh;">
            <div class="row position-relative" id="hero-container" >
                <div class="col text-start align-self-center pt-5 pt-lg-0">
                    <h1>Have fun and make dreams come true!</h1>
                    <p class="lead secondary-txt-color">Technology and innovation is not all about number and math, It is also about fun!</p>
                    <hr class="retro-line">
                    <a href="#portfolio" class="btn btn-retro btn-lg mt-3">Portfolio</a>
                </div>
                <div class="col-9 offset-3 position-absolute mt-5" style="min-height: 30rem;">
                    <div class="code-box mx-auto text-start">
                        <span id="typed-code-mobile" class="primary-txt-color"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section end -->

    <!-- About Section -->
    <section id="about" style="padding-top: 4rem">
    <div class="container retro-border">
        <div class="row d-inline-block d-lg-flex" id="about-container">
            <div class="col align-self-centerh-100 d-block d-lg-none mb-5">
                <h2 id="aboutme">Julio Conchas</h2>
                <hr class="retro-line">
                <p class="secondary-txt-color">
                    Hi all this is Julio.<br>
                    With more than 7 years of experience. I'm currently working for IBM Mexico as Backed Developer.
                    I'm mainly focured on Java development but I'm also fond of python, AI project and Mobile Development.
                </p>
                <p class="secondary-txt-color">
                    <span class="fw-bold">Iconito</span>Dev is currently my place of peace where I can have fun building what makes me happy 
                    whether if it's useful or not just for the joy of learn and have a great time doing what I like.
                </p>
            </div>
            <div class="col">
                <div class="row"></div> 
                <div class="row mb-5">
                    <div class="col align-self-center text-center">
                        <img src="{{ url_for('static', filename='img/JulioTech.jpeg') }}" alt="" id="aboutimg" style="width: 60%; height:80%;">
                    </div>
                </div> 
                <div class="row retro-border mt-3" style="min-height: 20rem;">
                    <div class="code-box mx-auto text-start">
                        <span id="description-code" class="primary-txt-color"></span>
                    </div>
                </div>
            </div>
            <div class="col align-self-centerh-100 d-none d-lg-block">
                <h2 id="aboutme">Julio Conchas</h2>
                <hr class="retro-line">
                <p class="secondary-txt-color">
                    Hi all this is Julio.<br>
                    With more than 7 years of experience. I'm currently working for IBM Mexico as Backed Developer.
                    I'm mainly focured on Java development but I'm also fond of python, AI project and Mobile Development.
                </p>
                <p class="secondary-txt-color">
                    <span class="fw-bold">Iconito</span>Dev is currently my place of peace where I can have fun building what makes me happy 
                    whether if it's useful or not just for the joy of learn and have a great time doing what I like.
                </p>
            </div>
        </div>
    </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio" style="padding-top: 4rem">
        <div class="container retro-border" >
          <h2>Portfolio</h2>
          <div class="row" style="height: 76vh;">
            <div class="col-md-6 mb-4">
              <div class="p-3 retro-solid-border">
                <h5>IconitoDev</h5>
                <p class="secondary-txt-color">Personal website which include information about me and a portfolio with details about my proyects...</p>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="p-3 retro-solid-border">
                <h5>Ticitl</h5>
                <p class="secondary-txt-color">Virtual clinic. the platform includes a website to sell subscriptions and the platform itself, dashboard, user management and more...</p>
              </div>
            </div>
          </div>
        </div>
    </section>

    <!-- Contact Section start -->
    <section id="contact"  style="padding-top: 4rem">
        <div class="container retro-border" style="height: 76vh;">
          <h2>Contact</h2>
          <p class="secondary-txt-color">Want to know more about me or <span class="fw-bold">Iconito</span>Dev send a message let's get it touch.</p>
          <form action="/login" method="POST" class="w-50 mx-auto">
            <div class="mb-3">
              <label for="username" class="form-label">Name</label>
              <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">email</label>
              <input type="email" id="password" name="password" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Message</label><br>
              <textarea class="w-100" name="" id="" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-retro">Send</button>
          </form>
        </div>
    </section>
     <!-- Contact Section end -->

    <!-- Footer Section -->
    <footer>
        <div class="container">
          <p class="mb-1">&copy; 2025 IconitoDev. Have fun and make dreams come true!.</p>
          <div>
            <a href="#hero" class="me-3">Home</a>
            <a href="#about" class="me-3">About</a>
            <a href="#portfolio" class="me-3">Portfolio</a>
            <a href="#login">Login</a>
          </div>
        </div>
    </footer>
{% endblock %}