{% extends "admin/admin-base.html" %}

{% block title %}
    <h2 class="p-3">Users</h2>
{% endblock %}


{% block admin_content %}
    <div class="row" style="height: 85vh;">
        <form method="POST" class="w-50 m-auto">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label(class="form-label", for="username") }}
                {{ form.username(class="form-control", id="username") }}
                {{ form.email.label(class="form-label", for="email") }}
                {{ form.email(class="form-control", id="email",placeholder="name@company.com") }}
                {{ form.password.label(class="form-label", for="password") }}
                {{ form.password(class="form-control", id="password") }}
                {{ form.confirm_password.label(class="form-label", for="confirmpwd") }}
                {{ form.username(class="form-control", id="confirmpwd") }}
            </div>
            {{ form.submit(class="btn btn-retro") }}
        </form>
    </div>
{% endblock %}