<!-- Team Section -->
<section id="team" style="padding-top: 4rem; padding-bottom: 4rem;" >
    <div class="container container-min-height d-flex align-items-center justify-content-center">

        <!-- Team Grid -->
        <div class="row g-4 justify-content-center">

            <!-- Member 1 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-6">
                <a href="#" class="text-decoration-none" data-member-id="2">
                    <div class="card text-center h-100 retro-solid-border bg-card">
                        <div class="pt-4">
                            <img src="{{ MEDIA_URL }}/img/jc_sm.png" class="img-fluid team-img" alt="Julio Conchas">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-1">Julio Conchas</h5>
                            <p class="text-muted mb-0">CIO &amp; Software Developer</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Member 2 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-6">
                <a href="#" class="text-decoration-none" data-member-id="2">
                    <div class="card text-center h-100 retro-solid-border bg-card">
                        <div class="pt-4">
                            <img src="{{ MEDIA_URL }}/img/iconito-0411-sm.png" class="img-fluid team-img" alt="Julio Conchas">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-1">Iconito-0411</h5>
                            <p class="text-muted mb-0">The Intern</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
  </div>
</section>