<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top retro-nav-border">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#top" id="pagetitle">Iconito<span class="fw-lighter ">Dev</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Section -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link primary-txt-color" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link primary-txt-color" href="#portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link primary-txt-color" href="#contact">Contact</a></li>
        <li class="nav-item"><a class="btn btn-retro ms-2" href="#">Login</a></li>
      </ul>
    </div>
  </div>
</nav>