<!-- Julio Conchas -->
<section id="about" style="padding-top: 4rem">
    <div class="container retro-border">
        <div class="row d-inline-block d-lg-flex" id="about-container">
            <!-- col that shows up for sm size -->
            <div class="col align-self-centerh-100 d-block d-lg-none mb-5">
                <h2 id="aboutme">Julio Conchas</h2>
                <hr class="retro-line">
                <p class="secondary-txt-color text-justify">
                    Hi all this is Julio.<br>
                    With more than 7 years of experience. I'm currently working for IBM Mexico as Backed Developer.
                    I'm mainly focured on Java development but I'm also fond of python, AI project and Mobile Development.
                </p>
                <p class="secondary-txt-color text-justify">
                    <span class="fw-bold">Iconito</span>.io is currently my place of peace where I can have fun building what makes me happy 
                    whether if it's useful or not just for the joy of learn and have a great time doing what I like.
                </p>
            </div>
            <div class="col">
                <div class="row"></div> 
                <div class="row mb-1">
                    <div class="col align-self-center text-center">
                        <img src="{{ url_for('static', filename='img/JulioTech.jpeg') }}" alt="" id="aboutimg" style="width: 60%;">
                    </div>
                </div> 
                <!-- col that shows up for lg size -->
                <div class="row d-none d-lg-block retro-border mt-2" style="min-height: 20rem;">
                    <div class="code-box mx-auto text-start">
                        <span id="description-code" class="primary-txt-color"></span>
                    </div>
                </div>
                <!-- col that shows up for md size -->
                <div class="row d-lg-none mt-2" style="min-height: 20rem;">
                    <div class="code-box mx-auto text-start">
                        <span id="description-code-mobile" class="primary-txt-color"></span>
                    </div>
                </div>
            </div>
            <!-- col that shows up for lg size -->
            <div class="col align-self-centerh-100 d-none d-lg-block">
                <h2 id="aboutme">Julio Conchas</h2>
                <hr class="retro-line">
                <p class="secondary-txt-color text-justify">
                    Hi all this is Julio.<br>
                    With more than 7 years of experience. I'm currently working for IBM Mexico as Backed Developer.
                    I'm mainly focured on Java development but I'm also fond of python, AI project and Mobile Development.
                </p>
                <p class="secondary-txt-color text-justify">
                    <span class="fw-bold">Iconito</span>.io is currently my place of peace where I can have fun building what makes me happy 
                    whether if it's useful or not just for the joy of learn and have a great time doing what I like.
                </p>
            </div>
        </div>
    </div>
</section>