<nav class="d-flex flex-column bg-admin-nav text-white p-3" style="max-width: 15rem">
    <a href="#" class="align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <a class="navbar-brand fw-bold" href="/" id="pagetitle">Iconito<span class="fw-lighter ">.io</span></a>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
    <!--
         <li class="nav-item">
            <a href="" class="nav-link text-white">
                <i class="bi bi-file-earmark-ppt"></i>
                <span class="d-none d-lg-inline ms-2">Ticitl</span>
            </a>
        </li>
       <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-file-earmark-ppt"></i>
                <span class="d-none d-lg-inline ms-2">MarketT</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-file-earmark-ppt"></i>
                <span class="d-none d-lg-inline ms-2">Arche.</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-cash-stack"></i>
                <span class="d-none d-lg-inline ms-2">Finanzas</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-graph-up"></i>
                <span class="d-none d-lg-inline ms-2">Reportes</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-tools"></i>
                <span class="d-none d-xl-inline ms-2">Her.</span>
                <span class="d-none ms-2">Herramientas</span>
            </a>
        </li> -->
        <li>
            <a href="{{ url_for('admin.dashboard') }}" class="nav-link text-white">
                <i class="bi bi-speedometer"></i>
                <span class="d-none d-xl-inline ms-2">Dashboard</span>
                <span class="d-none ms-2">Dashboard details</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('users.adminusers') }}" class="nav-link text-white">
                <i class="bi bi-people"></i>
                <span class="d-none d-xl-inline ms-2">Users</span>
                <span class="d-none ms-2">Users details</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-journal-code"></i>
                <span class="d-none d-xl-inline ms-2">Portfolio</span>
                <span class="d-none ms-2">Portfolio details</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="bi bi-gear"></i>
                <span class="d-none d-xl-inline ms-2">Config</span>
                <span class="d-none ms-2">Configuración</span>
            </a>
        </li>
    </ul>
    <hr>
    <div>
        <a href="{{ url_for('admin.login' ) }}" class="d-flex align-items-center text-white text-decoration-none">
            <i class="bi bi-box-arrow-right"></i>
            <span class="d-none d-lg-inline ms-2">Logout</span>
        </a>
    </div>
</nav>